.header_inner, .content,
.clickable_projects {
  display: flex;
  flex-wrap: wrap;
}

/*
width of iPad in Portait mode
*/

@media screen and (min-width: 568px) {
  .big_picture {
    height: auto;
  }
  #project_0 {
    height: 100%;
    overflow: hidden;
  }
  #project_1 {
    -webkit-order: 0;
    -ms-order: 0;
    order: 0;
    height: 50%;
  }
  #project_2,
  #project_3 {
    order: 1;
    width: 50%;
    height: 50%;
  }
  .project_title {
    font-size: 24px;
  }
}

@media screen and (min-width: 812px) {}

@media screen and (min-width: 812px) {
  main,
  .header_inner,
  .nav,
  .content {
    width: 812px;
    margin-left: auto;
    margin-right: auto;
  }
  .big_picture {
    height: auto;
  }
  #project_0 {
    height: 100%;
    overflow: hidden;
  }
  #project_1 {
    -webkit-order: 0;
    -ms-order: 0;
    order: 0;
    width: 30%;
    height: 100%;
    margin: 0 auto;
  }
  #project_2 {
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    width: 30%;
    height: 100%;
    margin: 0 auto;
  }
  #project_3 {
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    width: 30%;
    height: 100%;
    margin: 0 auto;
  }
  .project_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: black;
    position: initial;
    text-align: center;
    top: 30%;
    transform: translate(0, -150%);
  }

  .project_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    display:inherit;
    position: initial;
    text-align: center;
    top: 30%;
    transform: translate(0, -370%);
  }
}
